body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, rgb(49, 3, 3)20%, rgb(0, 0, 0) 80%);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .login-page{
        
        display: flex;
        justify-content: center;
        justify-content: space-between;
            
        .login-logo{
            margin-right: 150px;
        }

        .login-main-block{
            color:azure;
            background-color: #000000;
            height: 700px;
            width: 600px;

            border-style:double;
            border-color: #1b0909;
            border-radius: 10px;
            border-width: 9px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .login-block-content{

                display: flex;
                flex-direction: column;

                gap: 50px;

                margin-bottom: 100px;

                .login-presentation{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 50px;

                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 50px;
                }

                .login-input-fields{
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                }
            }
        }
    }
}