[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/ambrosiavortex/Downloads/sistemaDEcadastros-main/frontend
Type=Link
URL=file:///home/ambrosiavortex/Downloads/sistemaDEcadastros-main/frontend
Icon=inode-directory
